<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mentor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>
        {% if edit %}
            <div><a href="{% url 'edit' mentor.username %}"></a></div>
        {% endif}
        
        
        <div>{{mentor.name}}</div>
        <div>{{mentor.zipode}}</div>
        <div>{{mentor.education}}</div>
        <div>{{mentor.meet}}</div>
        <div>{{mentor.picture}}</div>
        <div>{{mentor.description}}</div>
        <div>{{mentor.credentials}}</div>
        <div>{{mentor.contactInfo}}</div>
        <ul>
            {% for time in timeSlots %}
            <li>{{ time }}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for interest in interests %}
            <li>{{ interest }}</li>
            {% endfor %}
        </ul>
        <div>{{mentor.status}}</div>

        <h2>Mentees</h2>
        <ul>
            {% for mentee in mentees %}
                <a href="{% url 'dashboard' mentee.username %}"><li>{{ mentee.name }}</li></a>
                {% if owner %}
                    <div><a href="{% url 'removeMentee' mentee.id %}">remove</a></div>
                {% endif}
            {% empty %}
                <li>No mentee yet</li>
            {% endfor %}
        </ul>
    </body>
</html>