{% extends "dashboard/layout.html" %}
{% load static %}

{% block head %} 
    <title>Dashboard</title>
{% endblock %}

{% block body %}
    
        <div>Name: {{student.Fname}} {{student.Lname}}</div>
        <div>Zipcode: {{student.zipcode}}</div>
        <div>Major: {{student.major}}</div>
        <div>Description: {{student.description}}</div>
        <div>School Year: {{student.schoolYear}}</div>
        <div>Contact Info: {{student.contactInfo}}</div>

        <h2>Mentors</h2>
        <ul>
            {% for mentor in mentors %}
                <li>{{ mentor.Fname }}</li>
            {% empty %}
                <li>No mentor yet</li>
            {% endfor %}
        </ul>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'match_page' %}">Seek Matches</a>
    </li>

{% endblock %}
